################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.config
*.v2
*.vsidx
/FireWarningSystem.Web/FireWarningSystem.UiLogic/obj
/FireWarningSystem.Web/FireWarningSystem.UiLogic/bin/Debug/net8.0
/FireWarningSystem.Web/FireWarningSystem.Data/bin/Debug/net8.0
/FireWarningSystem.Web/.vs/FireWarningSystem.Web/v17/DocumentLayout.json
*.bin
/FireWarningSystem.Web/.vs/FireWarningSystem/v17/DocumentLayout.json
