################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.config
*.v2
*.vsidx
/FireWarningSystem.Web/FireWarningSystem.UiLogic/obj
/FireWarningSystem.Web/FireWarningSystem.UiLogic/bin/Debug/net8.0
